

body {
  background-color: $graygreen;
  color: $white;
}

.instructions {
  color: $white;
}

.header {
  text-align: center;
}

.navbar {
  background-color: $navy;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  //inline-block space fix
}

.box {
  border-color: $black;
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 23%;
}

.box::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.content {
  background-color: $tealish !important;
  bottom: 0;
  font-size: 30px;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;

}

.content:not(.no-hover):hover {
  background-color: $blueish;
  opacity: .5;
}


p {
  color: $black;
  text-align: center;
}

li {
  color: $black;
  list-style-type: none;
  text-align: center;
}

.all-buttons {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}


#sign-up-form,
#sign-in-form,
#change-password-form,
#log-out-form,
#welcome-modal {
  color: $black;
}
