body {
  color: red;
}

.row-centered {
  text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    //reset the text-align
    text-align:left;
    //inline-block space fix
    margin-right:-4px;
}

.box {
  position: relative;
  width: 20%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.box:before{
  content: "";
  display: block;
  padding-top:100%;
}

.content{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

}
